
body {
    background-color: green;
}

h1 {
    background-color:#00FF00;
}

p {
    background-color: rgb(255,0,255);
	font-size:20px
}

h1{
	color: rgb(0,255,0);
	background-color: rgb(184,33,131);
}
h1` {
	color: #B82183;
	color: #C4593F;
}

h2{
	color: #B82183;
	color: #C4593F;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}


li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #00FF00;
    color: white;
}